# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [5]:
num_1 = 2

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 3.5

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [6]:
height = 5.9

#### 6. asign variable "mass" with your weight

In [7]:
mass = 220

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [8]:
bmi = mass / (height * mass)

#### 8. print value from "bmi" variable

In [9]:
print(bmi)

0.1694915254237288

# String

#### 1. Create variable "name" with your first name

In [10]:
name = 'Ryan'

#### 2. Create variable "surname" with your surname

In [11]:
surname = 'Ferns'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [16]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [17]:
print(name_surname)

Ryan Ferns

#### 5. print first letter from variable "name_surname"

In [18]:
print(name_surname[0])

R

#### 6. print your name (without enmpty space) from variable "name_surname"

In [19]:
print(name_surname[0:4])

Ryan

#### 7. print your surname 10x (use variable surname)

In [20]:
print(10 * surname)

FernsFernsFernsFernsFernsFernsFernsFernsFernsFerns

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [23]:
message = 'Hello my name is ' + name_surname

#### 9. print "message" variable

In [24]:
print(message)

Hello my name is Ryan Ferns

## List

#### 1. create empty list with name "empty_list"

In [25]:
empty_list = []

#### 2. create list "heights" with five random values

In [26]:
heights = [1, 3, 5, 4, 3.5]

#### 3. print heights

In [27]:
print(heights)

[1, 3, 5, 4, 3.5]

#### 4. print type of variable "heights"

In [28]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [29]:
print(heights[1])

3

#### 6. assign last three values from "heights" to another list "heights_2"

In [36]:
heights_2 = heights[-3 :]

#### 7. print "heights_2"

In [37]:
print(heights_2)

[5, 4, 3.5]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [38]:
list_all = heights + heights_2

#### 9. print "list_all"

In [39]:
print(list_all)

[1, 3, 5, 4, 3.5, 5, 4, 3.5]

#### 10. print the type of "list_all"

In [40]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name empty_tuple

In [41]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [43]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [45]:
'Lists can be modified but tuples cannot be modified.'

'Lists can be modified but tuples cannot be modified.'

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [46]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [48]:
heights_dict = {
    name:height
}

In [49]:
heights_dict

{'Ryan': 5.9}

#### 3. asign another name and height to "heights_dict"

In [51]:
heights_dict['Paul'] = 6.2

#### 4. print "heights_dict" dictionary

In [53]:
print(heights_dict)

{'Ryan': 5.9, 'Paul': 6.2}

#### 5. print your height from the "heights_dict" dictionary

In [54]:
print(heights_dict[name])

5.9

#### 6. print all values from "heights_dict" dictionary

In [56]:
print(list(heights_dict.values()))

[5.9, 6.2]

#### 7. print all keys from "heights_dict" dictionary

In [57]:
print(list(heights_dict.keys()))

['Ryan', 'Paul']